{% extends 'website/base.html' %}

{% block title %}Welcome Page{% endblock %}

{% block content %}

<h1 class="text-5xl text-center my-4">Welcome to the Website!</h1>

<div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4">
    <p>{{ message }}</p>
</div>

<h3 class="text-gray-600 mt-4">Liczba spotkań: {{ num_meetings }}</h3>

<h2 class="my-4 text-2xl font-semibold">Spotkania:</h2>

<ul class="bg-white shadow rounded-lg divide-y divide-gray-200">
    {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}" class="block px-4 py-2 hover:bg-gray-100">
                {{ meeting.id }}. {{ meeting.title }}
            </a>
        </li>
    {% empty %}
        <li class="px-4 py-2 text-gray-500">Brak dostępnych spotkań.</li>
    {% endfor %}
</ul>

<div class="bg-white rounded shadow mt-4">
    <div class="p-4">
        <a href="{% url 'rooms' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Zobacz opis pokoi</a>
        <a href="{% url 'new' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Dodaj nowe spotkanie</a>
    </div>
</div>
    
{% endblock %}


{#// Copyright (c) 2024 Nicola Allocca all rights reserved.#}