{% extends 'GoodDoctor/base.html' %}
{% load static %}

{% block title %}Lista Wizyt{% endblock %}

{% block content %}
<h1>Lista Wizyt</h1>
<p>Masz umówione {{ wizyty }} wizyty:</p>
<ul>
    {% for wizyta in all_wizyty %}
        <li>
            <a href="{% url 'details' wizyta.pacjent.id %}">
                <strong>{{ wizyta.date }}</strong> - {{ wizyta.pacjent.imie }} {{ wizyta.pacjent.nazwisko }}
            </a>
            <p><strong>Powód wizyty:</strong> {{ wizyta.powod }}</p>
            <p><strong>Uwagi:</strong> {{ wizyta.uwagi }}</p>
            <img src="{% static 'GoodDoctor/images/doctor.png' %}" alt="Doctor Image" style="max-width: 100px; margin-top: 10px;">
        </li>
    {% empty %}
        <li>Brak wizyt.</li>
    {% endfor %}
</ul>
<a href="{% url 'dodaj_wizyte' %}">Dodaj nową wizytę</a>
{% endblock %}
