{% extends 'base.html' %}


{% block title %}Lista Ogłoszeń{% endblock %}

{% block content %}
<h1>Lista ogłoszeń</h1>
<ul>
    {% for ogloszenie in ogloszenia %}
        <li>
            <h2><a href="{% url 'tresc' ogloszenie.id %}">{{ ogloszenie.tytul }}</a></h2>
            <p>{{ ogloszenie.tresc|truncatewords:15 }}</p>
            <p><strong>Kategoria:</strong> {{ ogloszenie.kategoria }}</p>
            <p><strong>Autor:</strong> {{ ogloszenie.uzytkownik.imie }} {{ ogloszenie.uzytkownik.nazwisko }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
